# Copy this file to .dev.vars and fill in your secrets
TELE_BOT_TOKEN=your_telegram_bot_token
BOT_WEBHOOK_URL=https://your-ngrok-or-github-codespace-url/telegram/bot-webhook
RESEND_API_KEY=your_resend_api_key
SPOTIFY_CLIENT_ID=your_spotify_client_id
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret
PORKAST_WEB_BASE_URL=http://localhost:8787
TELE_MINI_APP_LINK=https://domain.com
DEMO_EMAILS=test@porkast.com
DEMO_CODE=000000
NODE_ENV=development
PODCAST_INDEX_API_KEY=your_podcast_index_api_key
PODCAST_INDEX_API_SECRET=your_podcast_index_api_secret
WEBSHARE_PROXY_URL=your_webshare_proxy_url
